module.exports = {
  title: "Fatih Eğriboz",
  description: "Front-end / UI Developer & UI Designer",
  lang: "en",
  siteUrl: "https://egriboz.com",
  googleAnalytic: "UA-2364558-1",
  author: {
    email: "egriboz@gmail.com",
    name: "Fatih Eğriboz",
    title: "Frontend/UI Developer",
    titleSecondary: "UI Designer",
    shortName: "FE",
  },
  social: {
    instagram: "https://instagram.com/fatihegriboz",
    twitter: "https://twitter.com/egriboz",
    codepen: "https://codepen.com/egriboz",
    github: "https://github.com/egriboz",
    behance: "https://behance.net/egriboz",
  },
};
